<div id="app">
  <div id="wrapper">
		<%= render 'header' %>
		<%= render 'home' %>
		<%= render 'story' %>
		<%= render 'quote' %>
		<%= render 'timeline' %>
		<%= render 'wedding' %>
		<%= render 'location' %>
		<%= render 'friends' %>
		<%= render 'gifts' %>
		<%= render 'galery' %>
		<%= render 'rsvp' %>
		<%= render 'footer' %>
	</div>
</div>
<div class="modal" id="giftModal" tabindex="-1" role="dialog" aria-labelledby="giftModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><strong>Cotas para Lua de Mel </strong> (Compra 100% segura com PayPal - Parcele em até 10x sem juros) </h5>
      </div>
      <div class="modal-body">
        <div class="row">
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Cafe da manha olhando para o mar em Key West</h3>
							<img src="images/cafemar.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="EK8E6Q54DRVLY">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$100,00</option>
									<option value="2 cotas">2 cotas R$200,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Jantar no Roofttop em Miami Beach</h3>
							<img src="images/rooftop.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="Y5AJ3AZFUASYL">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$190,00</option>
									<option value="2 cotas">2 cotas R$380,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Passeio de Parasailing e Mergulho</h3>
							<img src="images/parasailing.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="YKCH9SZPWBQFE">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$150,00</option>
									<option value="2 cotas">2 cotas R$300,00</option>
									<option value="3 cotas">3 cotas R$450,00</option>
									<option value="4 cotas">4 cotas R$600,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Jantar Romântico em Key West</h3>
							<img src="images/romantico.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="TERUCQSL3DSSE">
								<select class="form-control" name="os0">
										<option value="1 cota">1 cota R$230,00</option>
										<option value="2 cotas">2 cotas R$460,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Upgrade para Suíte Presidencial</h3>
							<img src="images/upgrade.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="22R2WZ8XSHN88">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$500,00</option>
									<option value="2 cotas">2 cotas R$1.000,00</option>
									<option value="3 cotas">3 cotas R$1.500,00</option>
									<option value="4 cotas">4 cotas R$2.000,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Casa à beira mar em Key West</h3>
							<img src="images/beiramar.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="8NYYV63V6C7Z6">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$360,00</option>
									<option value="2 cotas">2 cotas R$720,00</option>
									<option value="3 cotas">3 cotas R$1.080,00</option>
									<option value="4 cotas">4 cotas R$1.440,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Balada em Miami Beach</h3>
							<img src="images/balada.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="CUPCTN4YKQ8YA">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$175,00</option>
									<option value="2 cotas">2 cotas R$350,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Jantar Hard Rock Café</h3>
							<img src="images/hardrock.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="9JXN7UFZPGCMG">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$200,00</option>
									<option value="2 cotas">2 cotas R$400,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Passagem para Punta Cana</h3>
							<img src="images/passagem.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="W55XJZ57VMG22">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$750,00</option>
									<option value="2 cotas">2 cotas R$1.500,00</option>
									<option value="3 cotas">3 cotas R$2.250,00</option>
									<option value="4 cotas">4 cotas R$3.000,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Hotel em Miami Beach</h3>
							<img src="images/hotelmiami.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="EY86C5UML3NXW">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$450,00</option>
									<option value="2 cotas">2 cotas R$900,00</option>
									<option value="3 cotas">3 cotas R$1.350,00</option>
									<option value="4 cotas">4 cotas R$1.800,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Passeio Hoyo Azul</h3>
							<img src="images/hoyo.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="Y85WAPQUY2N4Q">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$80,00</option>
									<option value="2 cotas">2 cotas R$160,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Aluguel carro miami</h3>
							<img src="images/carro.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="2X272UDPB78WQ">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$400,00</option>
									<option value="2 cotas">2 cotas R$800,00</option>
									<option value="3 cotas">3 cotas R$1.200,00</option>
									<option value="4 cotas">4 cotas R$1.600,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Seguro Viagem</h3>
							<img src="images/seguro.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="XYEZPUB8N2TU8">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$280,00</option>
									<option value="2 cotas">2 cotas R$560,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Passeio pelas ilhas</h3>
							<img src="images/ilhas.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="EX3HBETZJQ9SW">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$130,00</option>
									<option value="2 cotas">2 cotas R$260,00</option>
									<option value="3 cotas">3 cotas R$390,00</option>
									<option value="4 cotas">4 cotas R$520,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Passeio de JetSki</h3>
							<img src="images/jetski.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="6FA36ZQSCG5PS">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$90,00</option>
									<option value="2 cotas">2 cotas R$180,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
					<div class="col-sm-4 col-xs-6 col-md-3">
						<li class="wedding-gifts-item">
							<h3>Day Spa</h3>
							<img src="images/spa.png" alt="" />
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="QCH2QQ3J57AYG">
								<select class="form-control" name="os0">
									<option value="1 cota">1 cota R$320,00</option>
									<option value="2 cotas">2 cotas R$640,00</option>
								</select>
								<input type="hidden" name="currency_code" value="BRL">
								<button type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" class="btn btn-default2">Presentear</button>
								<img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>
