<div id="app">
  <div id="wrapper">
		<%= render 'header' %>
		<%= render 'home' %>
		<%= render 'story' %>
		<%= render 'quote' %>
		<%= render 'timeline' %>
		<%= render 'wedding' %>
		<%= render 'location' %>
		<%= render 'friends' %>
		<%= render 'gifts' %>
		<%= render 'galery' %>
		<%= render 'rsvp' %>
		<%= render 'footer' %>
	</div>
</div>
<%= render 'modal' %>
<%= render 'modal2' %>